body {
    font-family: 'Inter', sans-serif;
}

.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 128.4px;
}

/* header */
header {
    background-color: #372D23;
    padding: 32px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    max-width: inherit;
    width: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

}

ul {
    display: flex;
    column-gap: 40px;

}

.active,
.inactive {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
}

.active {
    color: #ED6C30;
}

.inactive {
    color: #FCC21B;
}