body {
    font-family: 'Inter', sans-serif;
}

.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 128.4px;
}

/* header */
header {
    background-color: #372D23;
    padding: 32px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    max-width: inherit;
    width: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

}

.header_ul {
    display: flex;
    column-gap: 40px;

}

.active,
.inactive {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
}

.active {
    color: #ED6C30;
}

.inactive {
    color: #FCC21B;
}

/* section1 */
.section1 {
    height: 640px;
    display: flex;
    position: relative;
}

.main.image {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
}

.section1_article {
    width: 762px;
    height: 208px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCC21B99;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    box-shadow: -4px -4px 6px 0px #000000;

}

h1 {
    font-weight: 800;
    font-style: Italic;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 6px 2px 4px #000000;


}

/* section2 */
.section2 {
    padding: 80px;
    height: 560px;
    width: min(100%, 1440px);
    background-color: #FFE18A;
    display: flex;
    justify-content: space-between;
}

.section2_article {
    /* width: 620px;
    height: 400px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.first_pic {
    height: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;

}

h2 {
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 72px;
    position: absolute;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

.section2_article2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.second_pic {
    height: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;

}

/* footer  */
footer {
    background-color: #372D23;
    padding: 32px 80px;
    display: flex;
    justify-content: space-between;
}
.footer_li{
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: #FCC21B;
}
.footer_ul{
    display: flex;
    column-gap: 24px;
}
